* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-image: url("https://i.pinimg.com/originals/70/3e/9f/703e9f31abcd0c048bba695bdd5ab560.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
}
.movie__image {
  width: 20rem;
}
.movie {
  width: 30rem;
  /* margin: 1rem 0; */
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.nav-link{
  font-size: 2rem;
}

.navbar-brand{
  font-size: 2rem;
}

.form-inline my-2 my-lg-0{
  font-size: 2rem;
}

.filler-poster {
    height: 43rem;
    background-color: #dbdada;
    
    width: 30rem;
    margin: 1rem 0;
}

.greeting {
  font-size: 2rem;
}

.jumbotron {
  width: 100rem;
  height: 40rem;
  border: 3px solid green;
  margin-top:20rem;
  margin-left: 40rem;
}

.login-form{
  width: 50rem;
  border: 3px solid green;
  margin-top: 5rem;
  margin-left: 70rem;
  font-size: 2rem;
}

.movie_card:hover{
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(255,255, 255, 0.8);
}

.movie_card:active{
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(255,255, 255, 0.8);
}

.movie_description{
  background-color: rgba(255,255, 255, 0.8);
  font-size: 1.2rem;
  color: black;
  display: none;
  z-index: 5;
  position: absolute;
  padding: 1.5rem;
  bottom: 5%;
  
}

.movie_card:hover .movie_description{
  display: block;
}

.main_footer {
  font-size: 3rem;
  color: whitesmoke;
}



