* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}
.movie__image {
  width: 20rem;
}
.movie {
  width: 30rem;
  margin: 1rem 0;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.NavBar {
  font-size: 2rem;
}